.multiplayer-title{
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  
  letter-spacing: -0.078px;
  
  /* Light Text / Subhead */
  
  color: #6D7885;
  
  
}

.multiplayer-div{
  margin-top: 5%;
}

.multiplayer-title-div{
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.multiplayer-title-code{
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  
  letter-spacing: -0.408px;

  

  position: flex;
}

.multiplayer-title-return{
  
  position: flex;
  
}

.multiplayer-qr-button-div{
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.multiplayer-qr-button{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;
  padding-left: 24px;
	color:#1984FF;
	border-radius:25px;
}


.multiplayer-separator-div{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  
}


.separator-right{
  float: right;
  width: 80px; 
  margin-left: 22px;
}

.title-or{
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  letter-spacing: -0.078px;

  /* Light Text / Tertiary */

  color: #99A2AD;
}

.separator-left{
  width: 80px;
  margin-right: 22px;
}

.multiplayer-code-button{
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 24px;
  padding-left: 24px;
	color:#1984FF;
	border-radius:25px;
}

.multiplayer-complexity-div{
  display: flex;
  justify-content: center;
}

.complexity-button-on-light{
  padding-top: 6px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
	color:#1984FF;
  background-color: #ECF1FA;
	border-radius:25px;
  margin-left: 2px;
  margin-right: 2px;
}

.complexity-button-on-dark{
  padding-top: 6px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
	color:#1984FF;
  background-color: #1D2D41;
	border-radius:25px;
  margin-left: 2px;
  margin-right: 2px;
}

.complexity-button-off{
  padding-top: 6px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
	color:#ffffff;
	border-radius:25px;
  margin-left: 2px;
  margin-right: 2px;
}

.multiplayer-play-div{
  display: flex;
  justify-content: center;
}

.multiplayer-play-button{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:10px;
  margin-right:10px;
	color:#1984FF;
	border-radius:25px;
}

.multiplayer-play-group{
  bottom: 10px;
}

.noneUser{
  width: 44px;
  height: 44px;

  /* Light / Image Border

  image_border
  Dark: white_alpha8 #14FFFFFF
  Light: black_alpha8 #14000000
  */
  border: 2px dashed rgba(0, 0, 0, 0.08);
  border-radius: 231px; 
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: auto; 
  margin-right: auto; 

   
}


.player-name-off{
  margin-left: 12px;
  color:#99A2AD;
}



.game-div-margin{
  margin-top: 25%;
}