.lvl-res-headDiv{
    margin-top: 10%;
}

.main-div-resilt-page{
    display: flex;
    justify-content: center;
}

.lvl-res-title-div{
    margin-top: 16px;
    font-family: 'SF Pro Rounded';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.25px;

    color: #000000;


    display: flex;
    justify-content: center;
}

.lvl-res-sub-title-div{
    margin-top: 8px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px; 

    color: #6D7885;

 


    display: flex;
    justify-content: center;
}

.lvl-res-div{
    display: flex;
    justify-content: center;
}

.lvl-res-clock-div{
    display: flex;
    justify-content: center;
    margin-left: -15px;
}

.lvl-res-absolute-div{
    padding-bottom: 5%;
    margin-bottom: 5%;
    position: fixed;
    left: 0;
    right: 0;
    height: 20%;
    bottom: 0;
    backdrop-filter: blur(1.5px);
    
  }

.all-task-list{
    margin-bottom: 110%;
    margin-left: -30%;
}

.all-task-cell{
    width:100%;
}

.inCell{
}

.lvl-res-list-icon{
    padding: 10px;
    border-radius: 100px;
    margin-right: 120px;
    margin-left: 10px;
}

.not-right-button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}