
body { 
      
  }

.lolllll { 
}

.lvl-title{
    margin-top: 24px;
    font-family: 'SF Pro Rounded';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-right: auto;
    margin-left: auto;
}

.long-card-div{
    width: 100%;

    margin-top: 15px;
    
    margin-left: auto;
    margin-right: auto;
}

.long-card-div-div{
    width: 96%;

    margin-left: auto;
    margin-right: auto;
}

.long-card{
    min-height: 141px; 
    box-shadow: 0px 32px 52px 0px rgba(0, 0, 0, 0.03);


    
    border-radius: 24px;
}

.long-card-icon{
    margin-left: 10px;
    position: absolute;
    top: 50%;                 
    transform: translate(0, -50%);
    width: 22px;
    height: 22px;
    color: #1A84FF; 
    padding: 12px;
    border-radius: 25px; 
}

.long-card-title{
    top:16px;
    margin-left: 55px;
    margin-top: 10px;
    margin-right: 16px;
  
  
    font-family: 'SF Pro Rounded';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    
    letter-spacing: 0.0px;
}

.long-card-text{
    margin-left: 55px;
    margin-right: 8px; 
    padding-right: 16px; 
    margin-top: 1%;
  
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    
    color: #818C99;
}

.button-long{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    padding-left: 16px;
    padding-right: 16px;
  
    padding-top: 6px;
    padding-bottom: 6px;
  
    letter-spacing: -0.25px;
    margin-left: 65px;
    margin-bottom: 16px;
}

.button-long:active{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    padding-left: 16px;
    padding-right: 16px;
  
    padding-top: 6px;
    padding-bottom: 6px;
  
    letter-spacing: -0.25px;
    margin-left: 65px;
    margin-bottom: 16px;
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
    transition: 100ms;
    transition-timing-function: ease-in-out;
    
}

.lvl-card-div{
    margin-top: 16px;
    
    width: 46%;
     
    border-radius: 24px;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
    
}

.lvl-card-div-mini{
    margin-top: 16px;
    
    width: 96%;
     
    border-radius: 24px;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.lvl-card{
    height: 182px;
    
}

.lvl-card-title{
    font-family: 'SF Pro Rounded';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    display: inline-block;
    letter-spacing: 0.25px;
    
}
.lvl-card-icon-div{
    float: right;
    padding-right: 16px;
}
.lvl-card-icon{
    width: 22px;
    height: 22px;
    color: #1A84FF; 
    padding: 12px;
    border-radius: 25px;
    display: inline-block;
}

.lvl-card-parametr-icon{
    color: #818C99;
}

.lvl-card-parametr-text{
    margin-top: -10px;
    position: flex;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    /* Light Text / Secondary */

    color: #818C99;
}

.button-lvl{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    padding-left: 1%;
    padding-right: 1%;
  
  
    padding-top: 6px;
    padding-bottom: 6px;
  
    letter-spacing: -0.25px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.button-lvl:active{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    padding-left: 1%;
    padding-right: 1%;
  
  
    padding-top: 6px;
    padding-bottom: 6px;
  
    letter-spacing: -0.25px;
    margin-left: 10px;
    margin-bottom: 10px;

    -webkit-transform: scale(0.94);
    transform: scale(0.94);
    transition: 100ms;
    transition-timing-function: ease-in-out;
}

.button-lvl-complete{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight:400;
    font-size: 11px;
    line-height: 18px;

    padding-left: 3px;
    padding-right: 3px;
  
    padding-top: 6px;
    padding-bottom: 6px;
  
    letter-spacing: -0.25px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.button-lvl-complete:active{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight:400;
    font-size: 11px;
    line-height: 18px;

    padding-left: 3px;
    padding-right: 3px;
  
    padding-top: 6px;
    padding-bottom: 6px;
  
    letter-spacing: -0.25px;
    margin-left: 10px;
    margin-bottom: 10px;


    -webkit-transform: scale(0.94);
    transform: scale(0.94);

    transition: 100ms;
    transition-timing-function: ease-in-out;
}



.home--level_card{
    box-shadow: 0px 32px 52px 0px rgba(0, 0, 0, 0.03);

}

.not-Connection--main-div{
    
    left: 50%;
    position: absolute;
    top: 50%;                 
    transform: translate(-50%, -50%);
}