.qr-code-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.qr-code {
  min-height: 230px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 6px;
  padding-bottom: 1px;
  border-radius: 20px;
  background-color: white;
}

.qr-code-share-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: #1984ff;
  border-radius: 25px;
}

.qr-code-share-button:active {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;

  -webkit-transform: scale(0.94);
  transform: scale(0.94);
  transition: all 100ms ease-in-out;
}

.qr-code-share-button-div {
  display: flex;
  justify-content: center;
}
