/* input_plusplus это id панели */

.input-code-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputCode .vkuiInput {
  font-family: "SF Pro Rounded Semibold";
  font-size: 33px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 2px;
  color: #99a2ad;
}

#inputCode .vkuiInput input {
  text-align: center;
  font-family: "SF Pro Rounded Semibold";
  font-size: 33px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 2px;
  color: #99a2ad;
}

#inputCode .vkuiInput .vkuiFormField__border {
  border: none;
}

.vkuiFormField--default .vkuiFormField__border {
  background: none;
}
