 


@keyframes pulsing-heart {
  0% { transform: none; }
  25% { background-color: #2BD328;
    color: #FFFFFF; }
  50% { background-color: #2BD328;
  color: #FFFFFF; }
  75% { background-color: #2BD328;
    color: #FFFFFF; }
  100% { transform: none; }
}


.temporaryGame--inDiv{


}
.equationDiv{ /*div для примера*/
  margin: 10px;
  text-align: center; 
  
  justify-content: center;

}


.equationMark{ /*вопросительный знак*/
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 600;
  color: #1A84FF;
  font-size: 36px;
  line-height: 22px;
}


.equation{ /*пример*/

  display: inline-block;


  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 600;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 35px;
  line-height: 22px;
  letter-spacing: 2px; 

  background: #F0F1F5;
  border-radius: 20px;
}

.equation-dark{ /*пример*/



  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  width: 155px;
  padding: 16px;
  text-align: center;
  font-size: 35px;
  line-height: 22px;
  
  letter-spacing: 2px; 

  background: #2E2E33;
  border-radius: 20px;
}

.selectAnswer{
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #6D7885;

}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    max-inline-size: 400px;
    margin-inline: auto; 
    margin-left: auto;
    margin-right: auto;
    margin-top:13%;
  }



  
.item { 

    font-family: 'SF Pro Rounded';
    font-style: normal;
    font-weight: 600;
    --font-size: 222px; 
    /* identical to box height, or 73% */
    
    text-align: center;
    letter-spacing: 1px;
  


    min-block-size: 100px; 
    background: #FFFFFF;
    border-radius: 28px;
    color: #000000;

     

    height: 150px;
    width: 150px;
    transition-duration: 200ms;

    


    box-sizing: border-box;
  }


  .item:active {
    background-color: #2BD328;
    color: #FFFFFF;
    

  }
  
  
@media (min-width: 150px) {
    .item {
      flex-basis: calc((100% - 10px) / 2);
    }
  }

.single-clock-div{
  display: flex;
  justify-content: center;
}

.clock-icon-div{
  display: flex;
  justify-content: center;
}
.time-title{
  display: flex;
  justify-content: center;
}

.check-circle-outline{
  margin-top: 25%;
  
}

.result-task-title{
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  /* identical to box height, or 100% */

  display: flex;
  justify-content: center;
  letter-spacing: 0.25px;
}

.result-task-text{
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  /* or 129% */
  text-align: center;
  
  display: flex;
  justify-content: center;
  color: #6D7885;
}

.result-task-button{
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 18px;

  padding-left: 16px;
  padding-right: 16px;

  padding-top: 6px;
  padding-bottom: 6px;

  letter-spacing: -0.25px;
  margin-bottom: 16px;
  
}

.result-task-button-div{
  display: flex;
  justify-content: center;
  
}

.result-task-resTitle{

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px; 

  color: #6D7885;


 
}

.result-task-resTitle-div{

  margin-left: 10px;
 
  display: flex;
  align-items: center;
}


.result-friend-position{
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  /* identical to box height, or 94% */

  letter-spacing: -0.078px;

  /* Light Text / Tertiary */

  color: #99A2AD;
}


.result-friendList{
  padding-bottom: 65%;
}
 

.result-absolute-div{
  position: fixed;
  left: 0;
  right: 0;
  height: 10%;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 75px;
  backdrop-filter: blur(3.5px);
  
}

.result-buttonGroup{
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%; 
}

.result-buttonRetry-div{
  
  width:100%;
  margin-top: -16px;
  display: flex;
  align-items: center;
}
.result-buttonNotNow-div{
  width:100%;
  margin-top: 4px;
  display: flex;
  align-items: center;
}


.result-buttonGroup-retry{
  margin-top: 10px;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;

  padding-left: 25px;
  padding-right: 25px;
  

  padding-top:10px;
  padding-bottom: 10px;

  letter-spacing: -0.25px;
}

.result-buttonGroup-notNow{
  
}

.friendsPoint{
  display: flex; 
  align-items: center; 
  padding-left: -10px;
  padding-right: -10px;
  margin-left: 16;

  width: auto;
  height: 28px; 
}

.friendsAvatar{
  float: right;
  margin-left: 16px;
}

 

.result-getFriend-button{
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 18px;
  margin-top: 24px;

  padding-left: 16px;
  padding-right: 16px;

  padding-top: 6px;
  padding-bottom: 6px;

  letter-spacing: -0.25px;
  margin-top: 24px;
}

.eyes-photo{
  display: block;
  margin-left: auto;
  margin-right: auto
}

.result-getFriend-text{
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */
  margin-top: 4px;

  text-align: center;

  /* Light Text / Subhead */

  color: #6D7885;

}

.notFriend-div{
  border: 2px dashed rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  margin-bottom: 60%;
}


@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Space+Grotesk:wght@300;400&display=swap');
.hide{
  opacity: 0;
  position: fixed; 
  font-family: 'Manrope', sans-serif;
  
}


.game-div-margin{
  
  align-items: center;
}