.vkuiRoot > *,
.vkuiRoot > *::after,
.vkuiRoot > *::before,
.vkuiView__panels > *,
.vkuiPanel__fade {
  animation-fill-mode: forwards !important;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url(/src/fonts/SF-Pro-Display-Medium.otf) format('otf');
  font-style: medium;
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url(/src/fonts/SF-Pro-Display-Medium.otf) format('otf'),
    url(/src/fonts/SF-Pro-Display-Medium.otf) format('otf');
  font-style: semibold;
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url(/src/fonts/SF-Pro-Display-Medium.otf) format('otf');
  font-style: bold;
  font-weight: 700;
}
body,
div {
  user-select: none;
}
/*@media only screen and (orientation: landscape) {
  body {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    transform: rotate(0deg);
  }
}*/
